@import "mix";

.author {
  display: flex;

  &__photo {
    border-radius: 50%;
    width: 85px;
    height: 85px;
  }
  &__info {
    padding-left: 1rem;
    padding-top: 20px;
  }
  &__name {
    @include subtitle(18px, 1.5);
  }
  &__date {
    @include subtitle(14px, 1);
    color: $color-light;
  }

  @media (min-width: $size-m) {

  }

  @media (min-width: $size-l) {

  }

  @media (min-width: $size-xl) {

  }
}