@import "mix";

.menu-news {
  background: $color-light;
  padding: 3rem 0 0 2rem;
  color: #fff;

  &__title {
    @include title(45px, 1.4);
    margin-bottom: 2rem;
  }

  &__links {
    display: flex;
    flex-direction: column;
  }

  &__item {
    margin-bottom: 31px;
    margin-left: 1rem;
    color: #fff;
    text-decoration: none;
  }
  @media (min-width: $size-s) {
    &__item {
      margin-left: 2rem;
    }
  }

  @media (min-width: $size-l) {

  }

  @media (min-width: $size-xl) {

  }
}