<!Doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Лучшие товары и услуги республики Татарстан</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style><%- criticalStyle %></style>
    <!--<link rel="stylesheet" href="/style/grid-system.css">-->
    <link rel="icon" href="images/logo.ico" type="image/x-icon">
</head>
<body>
<div class="limit">
    <header class="header">
        <div class="header__logo">
            <img src="images/logo.jpg" alt="" width="289px" height="179px">
        </div>
        <nav class="header__navigation">
            <a class="navigation__item navigation__active" href="#">Главная</a>
            <a class="navigation__item" href="#">Номинанты</a>
            <a class="navigation__item" href="#">Новости</a>
            <a class="navigation__item" href="#">О премии</a>
            <a class="navigation__item" href="#">Контакты</a>
        </nav>
    </header>
</div>
<div>
    <div class="limit">
        <div class="greeting">
            <div class="greeting__item">

                <img class="greeting__picture adpv__s" src="images/image-320-214.svg">
                <img class="greeting__picture adpv__m" src="images/image-769-513.svg">
                <img class="greeting__picture adpv__l" src="images/image-1200-510.svg">
                <img class="greeting__picture adpv__xl" src="images/image-1300-510.svg">

                <div class="greeting__info">
                    <div class="greeting__title">
                        Лучшие товары и услуги <br>
                        республики Татарстан
                    </div>
                    <div class="greeting__text">
                        лучшие товары отобранные профессиональными экспертами <br>
                        бла бла бла бла
                    </div>
                </div>
            </div>
            <div class="greeting__status">
                <ol class="status">
                    <li class="status__item status__active"></li>
                    <li class="status__item"></li>
                    <li class="status__item"></li>
                </ol>
            </div>
        </div>
    </div>

    <div class="limit">
        <div class="ts">

            <div class="ts__title acc-title">
                <div class="acc-title__sub">
                    Описание премии
                </div>
                <div class="acc-title__main">
                    Мы двигаем торговлю вперёд, на новый уровень,
                    наша премия, залог успеха вашей компании.
                </div>
            </div>

            <div class="ts__view">
                <div class="ts__pictures">
                    <div class="ts__slides">
                        <div class="ts__slide">
                            <img class="" src="images/image-430-630.svg">
                        </div>
                    </div>

                    <nav class="ts__nav">
                        <a class="ts__button" href="#2">Назад</a>
                        <a class="ts__button" href="#1">Вперед</a>
                    </nav>
                </div>

                <div class="ts__body">
                    <div class="ts__header">
                        Выйграйте в премии, будьте уверены в своём деле
                    </div>
                    <div class="ts__content">
                        Бла бла бла блабла бла бла блаблабла бла а бла бла блабла бла бла ббля
                    </div>
                    <a href="#" class="button button--white">Смотреть больше</a>
                </div>
            </div>
        </div>
    </div>

    <div class="limit">
        <div class="gs">
            <div class="cla-title">
                <div class="cla-title__sub">
                    Наши товары и услуги
                </div>
                <div class="cla-title__main">
                    Вы увидите лучшие товары, лучших компаний, сможете посмотреть
                </div>
            </div>

            <div class="gs__view">
                <div class="gs__view-item">
                    <div class="gs__box">
                        <div class="gs__picture"></div>
                    </div>

                    <div class="gs__block">
                        <div class="gs__num">01.</div>
                        <div class="gs__title">
                            Главная в промышленности
                        </div>

                        <div class="gs__text">
                            Вы увидите лучшие товары, лучших компаний, Сможете посмотреть, Оценить и даже
                            прокоментироать
                            каждый продукт.
                        </div>
                    </div>
                </div>
                <div class="gs__view-item">
                    <div class="gs__box">
                        <div class="gs__picture"></div>
                    </div>

                    <div class="gs__block">
                        <div class="gs__num">02.</div>
                        <div class="gs__title">
                            Главная в промышленности
                        </div>

                        <div class="gs__text">
                            Вы увидите лучшие товары, лучших компаний, Сможете посмотреть, Оценить и даже
                            прокоментироать
                            каждый продукт.
                        </div>
                    </div>
                </div>
                <div class="gs__view-item">
                    <div class="gs__box">
                        <div class="gs__picture"></div>
                    </div>

                    <div class="gs__block">
                        <div class="gs__num">03.</div>
                        <div class="gs__title">
                            Главная в промышленности
                        </div>

                        <div class="gs__text">
                            Вы увидите лучшие товары, лучших компаний, Сможете посмотреть, Оценить и даже
                            прокоментироать
                            каждый продукт.
                        </div>
                    </div>
                </div>
                <div class="gs__view-item">
                    <div class="gs__box">
                        <div class="gs__picture"></div>
                    </div>

                    <div class="gs__block">
                        <div class="gs__num">04.</div>
                        <div class="gs__title">
                            Главная в промышленности
                        </div>

                        <div class="gs__text">
                            Вы увидите лучшие товары, лучших компаний, Сможете посмотреть, Оценить и даже
                            прокоментироать
                            каждый продукт.
                        </div>
                    </div>
                </div>
                <div class="gs__view-item">
                    <div class="gs__box">
                        <div class="gs__picture"></div>
                    </div>


                    <div class="gs__block">
                        <div class="gs__num">05.</div>
                        <div class="gs__title">
                            Главная в промышленности
                        </div>

                        <div class="gs__text">
                            Вы увидите лучшие товары, лучших компаний, Сможете посмотреть, Оценить и даже
                            прокоментироать
                            каждый продукт.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="limit">
        <div class="as">
            <div class="as__view">
                <div class="as__limit">
                    <div class="as__sub">Наши послы</div>
                    <div class="as__title">Это лучшая команда</div>
                    <div class="as__text">
                        бла бла бла блабла а бла бла бла бла блабалабала балалабал
                        бла бла бла блабла а бла бла бла бла блабалабала балалабал

                    </div>
                    <a class="button button--white" href="#">Посмотреть всех</a>
                </div>
            </div>
            <div class="as__block">
                <div>
                    <div class="as__slides">
                        <div class="as__slide">
                            <img class="as__picture" src="images/image-290-406.svg">
                        </div>
                        <div class="as__slide">
                            <img class="as__picture" src="images/image-290-406.svg">
                        </div>
                    </div>
                    <ol class="status">
                        <li class="status__item status__active"></li>
                        <li class="status__item"></li>
                        <li class="status__item"></li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <div class="limit">
        <div class="rt">
            <div class="cla-title">
                <div class="cla-title__sub">
                    Отзывы
                </div>
                <div class="cla-title__main">
                    Наши счастливые клиенты
                </div>
            </div>

            <div class="rt__slides">
                <div class="rt__slide">
                    <div class="rt__quote">
                        Бла бла бла блабла бл а бла бла балабалалаб абалабал
                        абалабалаб бла бла бла бла бал балабал бала ааа блаб а
                    </div>
                    <div class="rt__author author">
                        <div class="author__image">
                            <img class="author__photo" src="images/image-85-85.svg">
                        </div>
                        <div class="author__info">
                            <div class="author__name">Ф.Н. Львовна</div>
                            <div class="author__date">Март 2017</div>
                        </div>
                    </div>
                </div>
            </div>

            <ol class="rt__status status status--black">
                <li class="status__item status__active"></li>
                <li class="status__item"></li>
                <li class="status__item"></li>
            </ol>
        </div>
    </div>


    <div class="limit">
        <div class="ceremony">
            <div class="ceremony__view">
                <a href="#" class="ceremony__play"></a>
            </div>
            <div class="ceremony__content">
                <div class="ceremony__sub">Почему смотреть ?</div>
                <div class="ceremony__title">
                    Вы должны видеть свои достижения
                </div>
                <div class="ceremony__text">
                    бла бла бла балабабалалаб аблааб балалаб ла балаба л а а лбалалааб ла лалаа бал ал ла баалалала
                </div>
            </div>
        </div>
        <ul class="partners">
            <li class="partners__logo">
                <img src="images/image-150-80.svg">
            </li>
            <li class="partners__logo">
                <img src="images/image-150-80.svg">
            </li>
            <li class="partners__logo">
                <img src="images/image-150-80.svg">
            </li>
            <li class="partners__logo">
                <img src="images/image-150-80.svg">
            </li>
            <li class="partners__logo">
                <img src="images/image-150-80.svg">
            </li>
        </ul>
    </div>


    <div class="limit">
        <div class="news">
            <div class="news__item news__aside menu-news">
                <div class="menu-news__title">Новости</div>
                <div class="menu-news__links">
                    <a class="menu-news__item" href="#">Награждения</a>
                    <a class="menu-news__item" href="#">Распределение</a>
                    <a class="menu-news__item" href="#">Отзывы гостей</a>
                    <a class="menu-news__item" href="#">Пожелания участников</a>
                </div>
            </div>
            <div class="news__item news__post">
                <div class="news__header">
                    <img class="news__img" src="images/image-315-215.svg">
                </div>
                <div class="news__date">Сянтябрь 28, 2016</div>
                <div class="news__title">
                    Выиграла событие 2017 года
                </div>
                <div class="news__text">
                    По своей сути рыбатекст является альтернативой традиционному lorem ipsum, который вызывает у
                    некторых
                </div>
                <a href="" class="news__more">Прочитать больше</a>
            </div>

            <div class="news__item news__post">
                <div class="news__header">
                    <img class="news__img" src="images/image-315-215.svg">
                </div>
                <div class="news__date">Сянтябрь 28, 2016</div>
                <div class="news__title">
                    Выиграла событие 2017 года
                </div>
                <div class="news__text">
                    По своей сути рыбатекст является альтернативой традиционному lorem ipsum, который вызывает у
                    некторых
                </div>
                <a href="" class="news__more">Прочитать больше</a>
            </div>
        </div>
    </div>
    <div class="limit">
        <div class="feedback">
            <div class="feedback__view fv-view">
                <div class="fv-view__sub-title">подзаголовок</div>
                <div class="fv-view__title">Заголовок заг оловок заг оло вок заголовок</div>
            </div>
            <div class="feedback__form fv-form">
                <div class="fv-form__sub-title">Свяжитесь с нами</div>
                <div class="fv-form__title">Консультация бесплатно</div>
                <div class="fv-form__text">Свяжитесь с нами для всех ваших вопросов</div>
                <form action="" class="fv-form__path">
                    <div class="fv-form_row fv-form__b1">
                        <input class="fv-form__field" type="text" placeholder="Имя">
                        <input class="fv-form__field" type="email" placeholder="Почта">
                    </div>
                    <div class="fv-form_row fv-form__b2">
                        <textarea class="fv-form__field">Введите сообщение</textarea>
                    </div>

                    <a class="fv-form__button button button--white" role="button">Отправить сообщение</a>
                </form>
            </div>
        </div>
    </div>

    <div class="limit">
        <footer class="footer">
            <div class="footer__block">
                <div class="footer__address">
                    <div class="footer__title">Address</div>

                    <div class="footer__text">
                        143 W Street Name, <br>
                        New York, NY 10014 <br>
                        +1 (800) 123-4588 <br>
                    </div>
                </div>
                <div class="footer__links">
                    <div class="footer__title">Меню</div>
                    <div class="footer__text">
                        <a class="footer__link" href="#">Главная</a> <br>
                        <a class="footer__link" href="#">Номинанты</a> <br>
                        <a class="footer__link" href="#">Новости</a> <br>
                        <a class="footer__link" href="#">О премии</a> <br>
                        <a class="footer__link" href="#">Контакты</a>
                    </div>
                </div>
            </div>
            <div class="footer__block">
                <div class="footer__soc">
                    <div class="footer__title">Подписывайтесь на нас</div>

                    <div class="footer__text">
                        <a class="footer__link" href="#">Facebook</a> <br>
                        <a class="footer__link" href="#">Instagram</a> <br>
                        <a class="footer__link" href="#">Twitter</a> <br>
                        <a class="footer__link" href="#">Pinterest</a>
                    </div>

                </div>
                <div class="">

                </div>
            </div>
        </footer>
    </div>

    <div class="black">

    </div>
</div>
</body>
</html>